@model ProfileModel

<h2>Profile</h2>
<hr> @Model.FirstName  @Model.LastName , @Model.Age
<hr>
<hr> <p style="color:black; font-size:14px"> <i>Sex:</p> @Model.Sex
<hr>
<p style="color:black; font-size:14px"> <i>About me:</i></p>  @Model.AboutMe
<hr>
<div>
    <hr> <p style="color:black; font-size:14px"> <i>Orientations:</p> @Model.Orientation
</div>
<hr>
<p style="color:black; font-size:14px"> <i>City:</i></p>  @Model.City

@*@if (Model.DataImage != null)
{
    <img src="@Model.DataImage" style="width:150px;height:200px;" />
}*@