@model ProfileModel
    <html>
    <head>
        <title> Index </title>
    </head>
    <body>

        <h2>Профиль</h2>
        <hr> @Model.FirstName  @Model.LastName , @Model.Age
        <hr>
        <hr>
        <p style="color:black; font-size:14px"> <i> Пол: </i></p> @Model.Sex
        <hr>
        <p style="color:black; font-size:14px"> <i> О себе:</i></p>  @Model.AboutMe
        <hr>
        <div>
            <hr> <p style="color:black; font-size:14px"> <i> Ориентация: </i></p> @Model.Orientation
        </div>
        <hr>
        <p style="color:black; font-size:14px"> <i> Город:</i></p>  @Model.City
        @*@if (Model.DataImage != null)
            {
                <img src="@Model.DataImage" style="width:150px;height:200px;" />
            }*@
    </body>
</html>