@model List<DatingApp.BusinesLogic.BusinessModel.ProfileModel>
<form method="get" action=" /Profile/Index">
    
        @foreach (var profile in Model)
        {
    <div class=" container">
        @profile.FirstName
        @profile.LastName,
        @profile.Age
        <br />
        @profile.Orientation
        <br />
        @profile.Sex
        <br />
        @profile.CityId<br />
        @profile.AboutMe
        <p><a class="btn btn-primary" href="/Profile/@profile.Id">Показать</a></p>
    </div>
        }
    
</form>