@model List<DatingApp.BusinesLogic.BusinessModel.ProfileModel>
<form method="get" action=" /Profile/Index">
    <table>
        @foreach (var profile in Model)
        {
            <tr>                
                <td>@profile.FirstName</td>
                <td>@profile.LastName</td>
                <td>@profile.Age</td>
                <td>@profile.Orientation</td>
                <td>@profile.Sex</td>
                <td>@profile.CityId</td>
                <td>@profile.AboutMe</td>
                <td><p><a class="btn btn-primary" href="/Profile/@profile.Id">Show</a></p></td>
            </tr>
        }
    </table>
</form>