@model SearchViewModel
<html>
<head>
    <title> Search </title>
</head>
<body>
    <h2>Поиск пользователей</h2>
    <form method="post" action=" Search/ResultSearch/">
        @using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <p style="color:black; font-size:14px"> Имя:</p> @Html.TextBoxFor(m => m.FirstName)
            <br />
            <br />
            <p style="color:black; font-size:14px"> Возраст от:</p> @Html.TextBoxFor(m => m.AgeFrom)
            <br />
            <br />
            <p style="color:black; font-size:14px"> Возраст до:</p> @Html.TextBoxFor(m => m.AgeTo)
            <br />
            <br />
            @*<p style="color:black; font-size:14px"> Город:</p> @Html.TextBoxFor(m => m.CityId)*@
            @Html.DropDownListFor(m => m.CityId, (ViewBag.Cities as DatingApp.BusinesLogic.BusinessModel.LookupValueModel[]).Select(e => new SelectListItem { Value = e.Id.ToString(), Text = e.Title }))
            <br />
            <br />
            <p style="color:black; font-size:14px"> Пол:</p>

            @Html.DropDownListFor(m => m.Sex, Enum.GetNames(typeof(DatingApp.Common.Sex)).Select(e => new SelectListItem { Value = e, Text = e }))
            <br />
            <br />
            <p style="color:black; font-size:14px"> Ориентация:</p>

            @Html.DropDownListFor(m => m.Orientation, Enum.GetNames(typeof(DatingApp.Common.Orientations)).Select(e => new SelectListItem { Value = e, Text = e }))
            <br />
            <br />
            <p><input type="submit" value="Поиск" class="btn btn-primary"></p>
        }
    </form>
</body>
</html>